@model FYP.Models.Password
@{
    ViewBag.Title = "Family Clinic";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="page-header">
            <fieldset>
                <h1>Change Password</h1>
            </fieldset>
        </div>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">
                <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
            </div>
        }
        @Html.ValidationSummary(true)
        <div class="form-group">

            <label class="control-label">
                Current Password
            </label>
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-lock"></span>

                @Html.PasswordFor(model => model.CurrentPassword, new { @placeholder = "Current Password", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CurrentPassword, null, new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <label class="control-label">
                New Password
            </label>
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-lock"></span>
                @Html.PasswordFor(s => s.NewPassword, new { @placeholder = "New Password", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">
                Confirm Password
            </label>
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-lock"></span>

                @Html.PasswordFor(s => s.ConfirmPassword, new { @placeholder = "Confirm Password", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })

            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-12 text-center">
                <input type="submit" value="Submit" class="btn btn-success" Style="width: 120px" />
            </div>
        </div>
    </div>

}
