@model FYP.Models.ConsultationSearch


@using (Html.BeginForm())

{
    <div class="container">
        <div class="page-header">
            <fieldset>
                <h1>User Detail</h1>
            </fieldset>

        </div>

        @Html.ValidationSummary(true)

        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
            @Html.TextBoxFor(model => model.searchvalue, new { @class = "form-control", placeholder = "Type keyword for search" })
            @Html.ValidationMessageFor(m => m.searchvalue, null, new { @class = "text-danger" })

        </div>
        <br />
    </div>
   if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
        </div>
    }
    <div class="form-group">
        <div class="col-12 text-center">
            <input type="submit" value="Submit" class="btn btn-success" Style="width: 120px" />
        </div>
    </div>
}
<div class="container">
    <table class="table table-hover">
        <thead>

            <tr class="info">
                <th scope="col">
                    No.
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ConsultationDate)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.patientid)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.diagnose)
                </th>


                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            @{ int rowNum = 0;

                if (Model == null)
                {
                    <tr>
                        <th colspan="8" class="text-center">
                            No Result
                        </th>
                    </tr>
                }
                else if (Model.consultsdata == null)
                {
                    <tr>
                        <th colspan="20" class="text-center">
                            No Result
                        </th>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.consultsdata)
                    {
                        if (Model.consultsdata == null)
                        {
                            <tr>
                                <th colspan="8" class="text-center">
                                    No Result
                                </th>
                            </tr>
                        }
                        <tr>
                            <td>
                                @(rowNum += 1)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ConsultationDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.patientid)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.diagnose)
                            </td>




                            @if (Session["RoleID"] != null)
                            {

                                if (Session["RoleID"].ToString() == "2")
                                {

                            <td>
                                <span class="glyphicon glyphicon-pencil"> </span>@Html.ActionLink("Edit Consultation Record", "EditConsultation", "Consultation", new { cid = Model.consultID }, null) |
                                <span class="glyphicon glyphicon-user"></span> @Html.ActionLink("Contact Patient", "MessageBoard", "MessageBoard", new { cid = Model.patientid }, null)

                            </td>
                                }

                                else if (Session["RoleID"].ToString() == "3")
                                {
                                    <td>
                                        <span class="glyphicon glyphicon-pencil"> </span>@Html.ActionLink("View Consultation Record", "EditUser", "User", new { cid = Model.consultID }, null) |
                                        <span class="glyphicon glyphicon-user"></span> @Html.ActionLink("Contact Patient", "MessageBoard", "MessageBoard", new { cid = Model.patientid }, null)
                                    </td>

                                }
                             
                            }

                        </tr>

                    }


                }



            }
        </tbody>
    </table>
</div>

