
@model FYP.Models.Announcement







@using (Html.BeginForm("Create", "Announcement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <form>
        <div class="container">
            <div class="page-header">
                <fieldset>
                    <h1>Add Announcement</h1>
                </fieldset>

            </div>
          
                <div class="form-group">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Content)
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Content)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Path)
                    @Html.TextBoxFor(m => m.Path, new { @class = "form-control", type ="file" })
                    @Html.ValidationMessageFor(m => m.Path)
                </div>

                <button type="submit" class="btn btn-primary">Post Now</button>
            </div>
</form>
            }
