@model FYP.Models.User





@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()


<form>
    <div class="container">
        <div class="page-header">
            <fieldset>
                <h1>Edit User Profile</h1>
            </fieldset>

        </div>
        @if (TempData["Error"] != null)
        {
        <div class="alert alert-danger">
            <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
        </div>
        }
        @if (TempData["Success"] != null)
        {
        <div class="alert alert-success">
            <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
        </div>
        }


        <div class="form-group">
            <div class="form-group">
                <label class="control-label">
                    User ID

                </label>
                <div class="form-control">

                    @ViewData["UserID"]
                </div>


            </div>
            <label class="control-label">
                Full Name
            </label>
            <div class="input-group">
                @Html.TextBoxFor(model => model.FName, new { @class = "form-control", placeholder = "First Name", @Value = ViewData["FName"] })

                @Html.ValidationMessageFor(model => model.FName, null, new { @class = "text-danger" })

                <span class="input-group-addon"></span>

                @Html.TextBoxFor(model => model.LName, new { @class = "form-control", placeholder = "Last Name", @Value = ViewData["LName"] })
                @Html.ValidationMessageFor(m => m.LName, null, new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            <label class="control-label">
                Gender
            </label>

            @Html.DropDownListFor(m => m.Gender, ViewBag.UserGender as SelectList, "-----Please select gender-----", new { @class = "form-control" })


            @Html.ValidationMessageFor(model => model.Gender, null, new { @class = "text-danger" })


        </div>

        <div class="form-group">
            <label class="control-label">
                Email
            </label>

            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", @Value = ViewData["Email"] })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })

        </div>
        <div class="form-group">
            <label class="control-label">
                IC/Passport No.
            </label>

            @Html.TextBoxFor(model => model.ICPassport, new { @class = "form-control", placeholder = "IC/Passport Number", @Value = ViewData["ICPassport"] })
            @Html.ValidationMessageFor(model => model.ICPassport, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label class="control-label">
                Contact Number
            </label>

            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Contact Number", @Value = ViewData["PhoneNumber"] })
            @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "text-danger" })

        </div>
        <div class="form-group">
            <label class="control-label">
                Account Status
            </label>

            @Html.DropDownListFor(m => m.UserStatusID, ViewBag.statusList as SelectList, "---Please Select Account Status---", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserStatusID, null, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label class="control-label">
                User Role
            </label>

            @Html.DropDownListFor(m => m.UserRoleID, ViewBag.Role as SelectList, "---Please Select User Role---", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserRoleID, null, new { @class = "text-danger" })

        </div>


    </div>
    <div />

</form>


<div class="form-group">
    <div class="col-12 text-center">
        <input type="submit" value="Submit" class="btn btn-success" Style="width: 120px" />
    </div>
</div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

