@model FYP.Models.SearchUser


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="page-header">
            <fieldset>
                <h1>Search User Detail</h1>
            </fieldset>

        </div>

        @Html.ValidationSummary(true)

        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
            @Html.TextBoxFor(model => model.searchvalue, new { @class = "form-control", placeholder = "Type keyword for search" })
            @Html.ValidationMessageFor(m => m.searchvalue, null, new { @class = "text-danger" })
        </div>
        <br />
    </div>


    <div class="form-group">
        <div class="col-12 text-center">
            <input type="submit" value="Submit" class="btn btn-success" Style="width: 120px" />
        </div>
    </div>
}
<div class="container">
    <table class="table table-hover">
        <thead>

            <tr class="info">
                <th scope="col">
                    No.
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.FName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.LName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ICPassport)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                @if (Session["RoleID"] != null)
                {

                    if (Session["RoleID"].ToString() == "1")
                    {
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.UserStatusListValue)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.UserRoleListValue)
                        </th>
                        <th scope="col">
                        </th>
                    }
                    else if (Session["RoleID"].ToString() == "2")
                    {
                        <th scope="col">
                        </th>
                    }
                    else if (Session["RoleID"].ToString() == "3")
                    {
                        <th scope="col">
                        </th>
                    }
                    else
                    {
                        Response.Redirect("../Account/Login");
                    }
                }
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            @{ int rowNum = 0;

                if (Model == null)
                {
                    <tr>
                        <th colspan="8" class="text-center">
                            No Result
                        </th>
                    </tr>
                }
                else if (Model.userdata == null)
                {
                    <tr>
                        <th colspan="20" class="text-center">
                            No Result
                        </th>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.userdata)
                    {
                        if (Model.userdata == null)
                        {
                            <tr>
                                <th colspan="8" class="text-center">
                                    No Result
                                </th>
                            </tr>
                        }
                            <tr>
                                <td>
                                    @(rowNum += 1)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.LName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ICPassport)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                @if (Session["RoleID"] != null)
                                {

                                    if (Session["RoleID"].ToString() == "1")
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserStatusListValue)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserRoleListValue)
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-lock"> </span>@Html.ActionLink("Reset Password", "EditUser", "User", new { uid = item.UserID }, null) |
                                            <span class="glyphicon glyphicon-edit"></span> @Html.ActionLink("Edit User", "EditUser", "User", new { uid = item.UserID }, null) |
                                            <span class="glyphicon glyphicon-remove"> </span>@Html.ActionLink("Delete User", "Delete", new { uid = item.UserID })
                                        </td>
                                    }

                                    else if (Session["RoleID"].ToString() == "2")
                                    {
                                        <td>

                                            <span class="glyphicon glyphicon-pencil"> </span>@Html.ActionLink("Add Consultation Record", "Create", "Consultation", new { uid = item.UserID }, null) |
                                            <span class="glyphicon glyphicon-user"></span> @Html.ActionLink("View User Detail", "ViewUser", "User", new { uid = item.UserID }, null)
                                        </td>

                                    }
                                    else if (Session["RoleID"].ToString() == "3")
                                    {
                                        <td>
                                            <span class="glyphicon glyphicon-lock"> </span>@Html.ActionLink("Reset Password", "EditUser", "User", new { uid = item.UserID }, null) |
                                            <span class="glyphicon glyphicon-edit"></span> @Html.ActionLink("Edit User", "EditUser", "User", new { uid = item.UserID }, null)
                                        </td>
                                    }
                                    else
                                    {
                                        Response.Redirect("../Account/Login");
                                    }
                                }

                                </tr>

                        }


                    }



                }
        </tbody>
    </table>
</div>
                                            

                                     