<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/sticky-footer-navbar.css")" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <style>
        .footer {
            width: 100%;
            height: 20px;
            margin-top: 30px;
            margin-bottom: 0px;
            z-index: 12;
            position: fixed;
            bottom: 0;
        }
    </style>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@ViewBag.Title Doctor</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consultation</a>
                        <ul class="dropdown-menu">
                            <li><a href="../Consultation/Create" class="elements">Create Consultation</a></li>
                            <li><a href="../Consultation/SearchConsultation" class="elements">Search Consulatation</a></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Announcement</a>
                        <ul class="dropdown-menu">
                            <li><a href="../Announce/Create" class="elements">Add Announcement</a></li>
                            <li><a href="">Search Announcement</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="btn-group pull-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            @if (string.IsNullOrEmpty(Session["Fname"] as string) && string.IsNullOrEmpty(Session["Lname"] as string))
                            {
                                @*<a href="../Account/Login"><span class="glyphicon glyphicon-log-in"></span>Login</a>*@
                                Response.Redirect("../Account/Login");
                            }
                            else
                            {<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">
                                    <span class="glyphicon glyphicon-log-out"></span>  @Session["Fname"] @Session["Lname"]
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="../Account/UserProfile"><span class="glyphicon glyphicon-info-sign"></span> Profile </a></li>
                                    <li><a href="../Account/ChangePassword"><span class="glyphicon glyphicon-lock"></span> Change Password </a></li>
                                    <li><a href="../Account/Login"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                                </ul>

                            }

                        </li>

                    </ul>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    }

    @RenderBody()
    <hr />
    <div class="navbar navbar-default footer">
        <div class="container">
            <p class="navbar-text pull-left">
                © 2019 - Site Built By Mr. M.
            </p>
            <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
                <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube
            </a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("~/js/bootstrap.js")"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>