@model FYP.Models.Announcement


@using (Html.BeginForm("Create", "Announce", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <form>
        <div class="container">
            <div class="page-header">
                <fieldset>
                    <h1>Add Announcement</h1>
                </fieldset>
            </div>
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success">
                    <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="file">Upload Image:</label>
                <input type="file" name="file" id="file" style="width: 100%;" />
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Status)
                @Html.DropDownListFor(m => m.Status, ViewBag.ComboStatus as SelectList, "---Please Select Announcement Status---", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Status, null, new { @class = "text-danger" })
            </div>

            <div class="input-group text-center" style="width: 100%">
                <br />
                <input type="submit" value="Submit" class="btn btn-success" Style="width: 120px" />

            </div>

        </div>
    </form>
}


