@model FYP.Models.Login
@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/sticky-footer-navbar.css")" rel="stylesheet">
   
   
    <form>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-8 col-xl-12 " style="margin: auto; float: initial; padding-top: 1%">
                    <div class="row userInfo">
                        <div class="panel panel-primary ">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="text-align: center; font-weight: bold">
                                    <a class="collapseWill">Login</a>
                                </h3>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="form-group">
                                        @if (TempData["Error"] != null)
                                        {
                                            <div class="alert alert-danger">
                                                @TempData["Error"].ToString()
                                            </div>
                                        }
                                        <div class="col-md-"></div>
                                        <label class="col-md-12 control-label" for="prependedcheckbox">
                                            User ID
                                        </label>
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon glyphicon glyphicon-user ">
                                                </span>
                                                @Html.TextBoxFor(s => s.Username, new { @placeholder = "Username", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text-danger" })

                                            </div>
                                          
                                        </div>

                                        <label class="col-md-12 control-label" for="prependedcheckbox">
                                            Password
                                        </label>
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon glyphicon glyphicon-ok-sign ">
                                                </span>
                                                @Html.PasswordFor(s => s.Password, new { @placeholder = "Password", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })

                                            </div>
                                        </div>
                                      
                                        <div class="input-group text-center" style="width: 100%">
                                           <br />
                                            <input type="submit" value="Submit" class="btn btn-success" Style="width: 120px" />

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="panel-heading">
                                <div class="panel-title" style="text-align: right">
                                    <a class="collapseWill" href="../User/ForgetPassword" style="font-size: x-small">
                                        Forgot Username or Password?
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

}